%br/
%p
  %b Comments:
  = @movie.comments.count
%br/
- @movie.comments.each do |comment|
  .comment-card
    .card
      .card-block
        .row
          .col-md-1
          .col-md-11
            %span.text-info
              = comment.user.email
            %span.text-muted
              = comment.content
              - if current_user && current_user == comment.user
                = link_to 'Delete comment', movie_comment_path(comment.movie, comment), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }
